{% extends "Bases/BasePassword.html" %}
{% load staticfiles %}

{% block contenido_password %}
	  <section class="container-fluid">
    <div class="row justify-content-center box">
      <div class="col-sm-8 col-md-6 col-lg-5 align-self-center contenido">
        <div class="row justify-content-center" style="height: 55vh;">
          <div class="col-sm-12 col-md-12 col-lg-10 align-self-center">
            <center>
               <div>
                <h3 style="color:white;">Creación de contraseña</h3>          
              </div>
              <form method="POST"> {% csrf_token %}
                <div class="form-group">
                <input type="password" name="password1" placeholder="Ingrese Contraseña" class="PASS">
                <input type="password" name="password2" placeholder="Ingrese de nuevo contraseña">
                </div><span class="emsg hidden" id="pass">contraseña de 6 a 10 dígitos con almenos una mayúscula y un número</span><br>

                <button type="submit" style="background-color: #3a906d; color:white;" class="btn btn-primary" >Enviar</button><br>
                {% if mensaje.0 %}
                    <h3 style="color:white;">{{mensaje.1}}</h3>
                {% endif %}
              </form>   
              </form>
            </center>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock contenido_password %}

