{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>Contraseña</title> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <style>
    .box{
      background: url({% static "/img/21-login.jpg" %});
      background-size: cover;
      background-position: center;
      height: 100vh;
      box-shadow: inset 0px 0px 100px black;
    }
    .contenido
    {
      background-color: transparent;
      height: 55vh;
      border-radius: 10px;

      box-shadow: 0px 0px 60px black;
    }

    .emsg{
        color: red;
    }
    .hidden {
         visibility:hidden;
    }


  </style>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-inverse"> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
              <a class="nav-link" href="/">INICIO <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>


  <section class="container-fluid">
    <div class="row justify-content-center box">
      <div class="col-sm-8 col-md-6 col-lg-5 align-self-center contenido">
        <div class="row justify-content-center" style="height: 55vh;">
          <div class="col-sm-12 col-md-12 col-lg-10 align-self-center">
            <center>
               <div>
                <h3 style="color:white;">Creación de contraseña</h3>          
              </div>
            
	            <form method="POST"> {% csrf_token %}
	              <div class="form-group">

	                <input type="password" name="password" placeholder="Ingrese Contraseña" class="PASS">
	                <input type="password" name="password2" placeholder="Ingrese de nuevo contraseña">
	              </div><span class="emsg hidden" id="pass">contraseña de 6 a 10 dígitos con almenos una mayúscula y un número</span>

	              <button type="submit" style="background-color: #3a906d; color:white;" class="btn btn-primary" >Enviar</button>     
	                {% if error.0 %}
	                    <h3>{{error.1}}</h3>
	                {% endif %}
	            </form>
            </center>
          </div>
        </div>
      </div>
    </div>
  </section>


    <script src={%static "js/jquery.js"%}></script>
    <script src={%static "js/tether/dist/js/tether.min.js"%}></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 
    <script type="text/javascript" src= {% static "js/regularExpresions.js" %}></script>

  </body>
</html>