<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Perfil</title> 
  
      <link rel="stylesheet" href="css/style.css">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  
</head>
<style type="text/css">
  .borde{

    border: 2px solid black; 
  }
  .box{
    padding-top: 100px;
  }
  .circular{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  ul{
    list-style:none
  }
  a:hover{
    text-decoration: none;
  }
  #reciente{
    overflow-y: scroll;
    height: 200px;
  }
</style>
  <body>


      <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Cuentas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Actividades <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Perfil</a>
            </li>
          </ul>
        </div>
      </nav>

      <section class="container">
        <div class="row  box">
          <div class="col-md-12 ">
            <div class="row"> 
              <div class="col-sm-5 col-md-5 col-lg-3 borde">
                <img class="circular" src="varios/perfil.jpg">

                  <div class="form-group">
                    <label for="exampleInputFile">Subir</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Seleccionar archivo para cambiar foto de perfil</small>
                  </div>

              </div>
              <div class="col-sm-7 col-md-7 col-lg-9 ">
                <h3>Nombres del Administrador</h3>
                <h4>apellidos del Administrador</h4>
                <h6>identificación</h6><br>

                <div class="form-group row">
                  <label for="example-email-input" class="col-2 col-form-label">Email</label>
                  <div class="col-10">
                    <input class="form-control" type="email" value="" id="example-email-input">
                  </div>
                </div>


                <div class="form-group row">
                  <label for="pais-input" class="col-2 col-form-label">País</label>
                    <div class="col-10">
                      <select class="form-control" name = "country" required = "True" id="pais-input">
                        {% for country in paises  %}
                          <option value="{{country.id}}">{{country.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>

                <div class="form-group row">
                  <label for="genre-input" class="col-2 col-form-label">Género</label>
                  <div class="col-10">
                    <select class="form-control" name = "genre" required = "True" id="genre-input">
                      <option value = "male">Masculino</option>
                      <option value = "female">Femenino</option>
                      <option value = "other">Otro</option>
                    </select>
                  </div>
                </div>


                <div class="form-group row">
                  <label for="example-number-input" class="col-2 col-form-label">Teléfono</label>
                  <div class="col-10">
                    <input class="form-control" type="tel" value="" id="example-number-input">
                  </div>
                </div><br>
                <center>
                  <button type="button" data-trigger="focus" class="btn btn-primary" >Guardar</button>
                </center>
              </div>
            </div>
          </div>
        </div>
      </section>


<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
