{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Ingresar</title> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <style>
    .box{
      background: url({% static "/img/21-login.jpg" %});
      background-size: cover;
      background-position: center;
      height: 100vh;
      box-shadow: inset 0px 0px 100px black;
    }
    .contenido
    {
      background-color: transparent;
      height: 55vh;
      border-radius: 10px;

      box-shadow: 0px 0px 60px black;
    }

  </style>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-inverse"> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
              <a class="nav-link" href="/">SISTEMA DE EGRESADOS UTP <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>


  <section class="container-fluid">
    <div class="row justify-content-center box">
      <div class="col-sm-8 col-md-6 col-lg-5 align-self-center contenido">
        <div class="row justify-content-center" style="height: 55vh;">
          <div class="col-sm-12 col-md-12 col-lg-10 align-self-center">
            <center>
               <div>
                <h3 style="color:white;">Inicio de sesión</h3>          
              </div>
            </center>
            <form method="POST"> {% csrf_token %}
              <div class="form-group">
                <label style="color:white;" for="idInput">Código</label>
                <input type="text" required = "True" name = "username" class="form-control" id="idInput" aria-describedby="emailHelp" placeholder="Ingrese su número de identificación">
              </div>
              <label style="color:white;" class="form-group">Contraseña</label>
                <input type="password" required = "True" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su contraseña">
              </div>
              <center>
                <button type="button" style="background-color: #3a906d; border-width:0px;" class="btn btn-primary">Olvidé mi contraseña</button>
                <button type="submit" class="btn btn-primary" style="align-self: center; background-color: #3a906d; border-width:0px;">Entrar</button>
                {% if error.0 %}
                <br><br>
                  <div class="alert " style="background-color: #3a906d; border-width:0px;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h5 style="color:white;">{{error.1}}</h5>
                </div>
                {% endif %}
              </center>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


    <script src={%static "js/jquery.js"%}></script>
    <script src={%static "js/tether/dist/js/tether.min.js"%}></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
