{% extends "Bases/BaseEgresado.html" %}
{%load staticfiles%}

{% block contenido_egresado %}
      <title>Editar Información</title>
      <nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-primary ">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">&nbsp;</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link " href="/dashboard_egresado?username={{usuario.dni}}">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="/dashboard_egresado/circulo_amigos?username={{usuario.dni}}">Amigos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="/dashboard_egresado/edit_info_gra?username={{usuario.dni}}">Cuenta<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Cerrar Sesión <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/dashboard_egresado/historial?username={{usuario.dni}}">Historial Correos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/dashboard_egresado/search_friend?username={{usuario.dni}}">Buscar Amigos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard_egresado/profile_graduated?username={{usuario.dni}}">{{usuario.user.first_name}} {{usuario.user.last_name}}</a>
            </li>
            <li class="nav-item">
              <img class="circular1" src="{{usuario.profile_picture.url}}" >
            </li>
          </ul>
        </div>
      </nav>

    <section class="container" style="padding-top: 130px; padding-bottom: 50px;">
        <div class="row">
          <div class="col-md-12 ">

          <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
            <div class="row"> 
              {% if not usuario.profile_picture %}
                  <div class="col-lg-3 align-self-center" >
                    <center><img class="fotoPerfil" src={% static "varios/perfil.jpg" %}></center>
                  </div>
              {% else %}
                  <div class="col-lg-3 align-self-center" >
                    <center><img class="fotoPerfil" src="{{usuario.profile_picture.url}}"></center>
                  </div>    
              {% endif %}  
              <div class="col-sm-7 col-md-7 col-lg-9 ">
                <center><h3>{{usuario.user.first_name}} {{usuario.user.last_name}}</h3><hr><br></center>

                <div>
                  <p class="sangria">DNI: {{usuario.dni}}</p>
                </div>

                <div>
                  <p class="sangria">Fecha de nacimiento: {{usuario.birthday}}</p>
                </div>

                <div>
                  <p class="sangria">{{usuario.career}}</p>
                </div>

                <div>
                  <p class="sangria">Egresado: {{usuario.graduation_year}}</p>
                </div>

                <div>
                  <div class="form-group">
                    <input type="file" class="form-control-file" id="exampleInputFile" name="profile_picture" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Seleccionar archivo para cambiar foto de perfil</small>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="example-email-input" class="col-2 col-form-label">Email</label>
                  <div class="col-10">
                    <input class="form-control EMAIL3" type="email" name="email" value="{{usuario.user.email}}" id="example-email-input">
                  </div><span class="emsg hidden" id="email3">Ingrese un email válido</span>
                </div>


                <div class="form-group row">
                  <label for="pais-input" class="col-2 col-form-label">País</label>
                    <div class="col-10">
                      <select class="form-control" value ="" name = "country" id="pais-input">
                        <option value="{{usuario.country.id}}">{{usuario.country.name}}</option>
                        {% for country in paises  %}
                          <option value="{{country.id}}">{{country.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>

                <div id="cat">
                  <ul class="list-group">
                  {% for categoria in categorias  %}
                    {% if categoria in categoria_g %}
                          <li class="list-group-item">

                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" multiple="multiple"   name="categorias" id="categorias" value="{{categoria.id}}" checked>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{categoria.name}}</span>
                            </label>

                            </li> 
                    {% else %}
                          <li class="list-group-item">
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" multiple="multiple"   name="categorias" id="categorias" value="{{categoria.id}}">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{categoria.name}}</span>
                            </label>
                        </li>
                    {% endif %} 
                    {% endfor %}
                    </ul>
                </div>
                <br>
                <center>
                  <button type="button" data-trigger="focus" class="btn btn-primary" onclick="location.href='/dashboard_egresado/?username={{usuario.dni}}';">Volver</button>
                  <button type="submit" data-trigger="focus" class="btn btn-primary" >Guardar</button>
                </center>

              </div>
            </div>
          </form>

          </div>
        </div>
      </section>

      {% if mensaje.0 %} 
          <input id="valorCheckBox" style="display: none" value="{{mensaje.0}}">
          <div class="modal fade" id="modalCheckBox">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <center>
                        <h6>{{mensaje.1}}</h6>
                  </center>
                </div>
              </div>
            </div>
          </div> 
        {% endif %}

{% endblock contenido_egresado %}
