{% extends "Bases/BaseEgresado.html" %}
{%load staticfiles%}

{% block contenido_egresado %}
        <title>Historial Correos</title>
        <nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-primary ">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">&nbsp;</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link " href="/dashboard_egresado?username={{usuario.dni}}">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="/dashboard_egresado/circulo_amigos?username={{usuario.dni}}">Amigos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="/dashboard_egresado/edit_info_gra?username={{usuario.dni}}">Cuenta<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Cerrar Sesión <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="/dashboard_egresado/historial?username={{usuario.dni}}">Historial Correos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard_egresado/profile_graduated?username={{usuario.dni}}">{{usuario.user.first_name}} {{usuario.user.last_name}}</a>
            </li>
            <li class="nav-item">
              <img class="circular1" src="{{usuario.profile_picture.url}}" >
            </li>
          </ul>
        </div>
      </nav>

      <section class="container" style="padding-top: 70px;">
      <h1 align="center">Historial de Correos Enviados</h1>
      {% for registro in historial  %}
            <h5>Asunto: {{registro.subject}}</h5>
            <h5>Mensaje: {{registro.message}}</h5>
            <h5>Remitente: {{registro.from_email}}</h5>
            <h5>Destinatario: {{registro.to_email}}</h5>
            <h5>Fecha de Envio: {{registro.date_email}}</h5><br>
        
      {% endfor %}
      </section>

{% endblock contenido_egresado %}