{% extends "Bases/BaseEgresado.html" %}
{%load staticfiles%}

{% block contenido_egresado %}
        <title>Historial Correos</title>
        <nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-primary ">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">&nbsp;</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link " href="/dashboard_egresado?username={{usuario.dni}}">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="/dashboard_egresado/circulo_amigos?username={{usuario.dni}}">Amigos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="/dashboard_egresado/edit_info_gra?username={{usuario.dni}}">Cuenta<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="/dashboard_egresado/historial?username={{usuario.dni}}">Historial Correos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/dashboard_egresado/search_friend?username={{usuario.dni}}">Buscar Amigos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard_egresado/profile_graduated?username={{usuario.dni}}">{{usuario.user.first_name}} {{usuario.user.last_name}}</a>
            </li>
            <li class="nav-item">
              <img class="circular1" src="{{usuario.profile_picture.url}}" >
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Cerrar Sesión <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <section class="container" style="padding-top: 110px;">
      <h1 align="center">Historial de Correos Enviados</h1><hr>

        <div class="container" style="padding-top: 10px;">

        {% if not historial %}
            <center><h4 style="padding-top: 40px;">No hay mensajes para mostrar</h4></center>
        {% endif %}

        {% for registro in historial  %}
              <h5>Asunto:</h5> <p>{{registro.subject}}</p>
              <h5>Mensaje:</h5>  <p>{{registro.message}}</p>
              <h5>Remitente:</h5> <p>{{registro.from_user}}</p>
              <h5>Destinatario:</h5> <p>{{registro.to_user}}</p>
              <h5>Fecha de Envio:</h5> <p>{{registro.date_email}}</p>
              <hr>          
        {% endfor %}

        </div>
      </section>

{% endblock contenido_egresado %}