{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <style type="text/css">
    .space{
      padding-top: 70px;
    }
    #preferencias{
      overflow-y: scroll;
      height: 60vh;
    }
  </style>
  <body>

    <header>
      <nav class="navbar navbar-toggleable-md navbar-primary bg-primary">
        <div><a class="navbar-brand" href="/" style="color: white;">SISTEMA DE EGRESADOS UTP</a></div>
      </nav>
  </header>

    <section class="container space" >
      <div class="row">
        <div class="col-lg-12">
          <center><h3>Elige tus preferencias</h3></center>
          <hr>
        </div>
      </div>
      <div class="row" style=" padding-top: 20px;">  
        <div class="col-lg-6" id="preferencias">          
          <ul class="list-group">
            <li class="list-group-item">

              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Ciencia
                </label>
              </div>

            </li>
                        <li class="list-group-item">

              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Ciencia
                </label>
              </div>

            </li>
                        <li class="list-group-item">

              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Ciencia
                </label>
              </div>

            </li>
                        <li class="list-group-item">

              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Ciencia
                </label>
              </div>

            </li>
                        <li class="list-group-item">

              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Ciencia
                </label>
              </div>

            </li>
                        <li class="list-group-item">

              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Ciencia
                </label>
              </div>

            </li>
                        <li class="list-group-item">

              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Ciencia
                </label>
              </div>

            </li>
                        <li class="list-group-item">

              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Ciencia
                </label>
              </div>

            </li>

          </ul>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="container-fluid" style="border: 1px dotted; padding: 80px;">
            <div class="row justify-content-center" >
              <div class="col align-self-center">
                <center><h3>Mantente al tanto</h3></center>
              </div>              
            </div>
            <div class="row">
              <div class="col">
                <center>
                <p>El Sistema de Egresados UTP te recomendará actividades, actualizaciones y novedades de acuerdo a tus preferencias. Podremos mantenerte al tanto para que disfrutes al máximo  de todos los servicios que ofrece nuestra plataforma </p>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <br>
                <center><button class="btn btn-primary">Continuar</button></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>