{% extends "Bases/BaseAdmin.html" %}
{%load staticfiles%}

{% block contenido_admin %}

      <section class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
              {% if not pre_registros %}
                <center><h3 style="padding-top: 100px;">No hay solicitudes pendientes</h3></center>
              {%endif%}

              {% if mensaje.0 %}

                <h1>{{mensaje.1}}</h1>
                
              {% endif %}
              <ul class="list-group ">
                {% for pre_registro in pre_registros %}

                <form method="POST"> {% csrf_token %}
                <li class="list-group-item">

                  <div class="container">
                    <div class="row justify-content-center">                      
                      <div class="col align-self-center">
                        <div class="row">
                          <div class="col-sm-8 col-md-7 col-lg-8 align-self-center  ">
                              <h5>{{pre_registro.first_name}} {{pre_registro.last_name}}</h5>
                              <label>{{pre_registro.career.name}}</label><br>
                              <label>{{pre_registro.dni}}</label>

                          </div>
                          <div class="col-sm-4 col-md-5 col-lg-4 align-self-center ">
                            <button type="submit" class="btn btn-danger" name="tipo" value="{{pre_registro.id}} Eliminar">Declinar</button>
                            <button type="submit" class="btn btn-primary" name="tipo" value="{{pre_registro.id}} Aceptar">Crear usuario</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{pre_registro.id}}">
                            <b>!</b>
                            </button>
                          </div>
                        </div>
                      </div>
                    
                    </div>
                  </div>

                </li>
                </form> 
                  {% endfor %}
              </ul>
          </div>
        </div>
      </section>

<!-- Modal -->
{% for pre_registro in pre_registros %}
<div class="modal fade" id="{{pre_registro.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{pre_registro.first_name}} {{pre_registro.last_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <left>
          <h6>Dni: {{pre_registro.dni}}</h6>
          <h6>País: {{pre_registro.country.name}}</h6>
          <h6>Fecha Nacimiento: {{pre_registro.birthday}}</h6>
          {% if usuario.genre == "male" %}
              <h6>Género: Masculino</h6>
          {% endif %}
          {% if usuario.genre == "female" %}
              <h6>Género: Femenino</h6>
          {% endif %}
          <h6>Carrera Graduación: {{pre_registro.career.name}}</h6>
          <h6>Año Graduación: {{pre_registro.graduation_year}}</h6>
        </left>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
  
{% endblock contenido_admin %}

