{% extends "Bases/BaseAdmin.html" %}
{% load staticfiles %}

{% block contenido_admin %}
      <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">!</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/aceptar_cuentas?dni={{usuario.dni}}">Activar Cuentas <span class="sr-only">(current)</span></a>
            </li>


            <li class="nav-item active ">
              <a class="nav-link" href="/list_activity?dni={{usuario.dni}}">Actividades <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">

              <a class="nav-link" href="/dashboard_admin?dni={{usuario.dni}}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/edit_info_adm/?dni={{usuario.dni}}">Cuenta <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gestion_cuentas_egresados/?dni={{usuario.dni}}">Gestion Cuentas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Cerrar Sesión <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>


    <section class="container" style="padding-top: 70px; padding-bottom: 40px;">
      <div class="row">
        <div class="col-lg-12">
          <center><h3>Crear Actividad</h3></center><hr><br>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 align-self-center">
            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}

                <div class="form-group">
                  <label for="cat">Categoría</label>
                  <select class="form-control" id="cat" name = "category" required = "True">
                    {% for category in categories  %}
                      <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group">
                  <label for="imageActivity">Imagen</label>
                  <input type="file" class="form-control" id="imageActivity" value ="{{imagen.image_activity}}" name="image_activity">
                  <small class="form-text text-muted">Seleccione una imagen para la actividad</small>
                </div>

                <div class="form-group">
                  <label for="nameActivity">Nombre</label>
                  <input type="text" name="name" value="{{datos.name}}" class="form-control" id="nameActivity" aria-describedby="emailHelp" placeholder="Nombre de la actividad" required="True">
                  <small class="form-text text-muted">Ingrese un nombre para la actividad</small>
                </div>


                <div class="form-group">
                  <label for="exampleTextarea">Descripción</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Descripcion de la actividad" required="True" name="description" type="text">{{datos.description}}</textarea>
                </div>

                <div class="form-group row">
                  <label for="example-date-input">Fecha y hora de la Actividad</label>
                </div>

                <div class="form-group row">
                  <label for="example-date-input" class="col-2 col-form-label">Fecha:</label>
                  <div class="col-10">
                    <input class="form-control" name="date_activity"  type="date" value="{{fecha}}" id="example-date-input">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="example-time-input" class="col-2 col-form-label">Hora:</label>
                  <div class="col-10">
                    <input class="form-control" type="time" name="time_activity" value="{{hora}}" id="example-time-input">
                  </div>
                </div>

                <center>
                  <button type="button" class="btn btn-danger" onclick="location.href='/list_activity?dni={{usuario.dni}}';">Cancelar</button>

                  <button type="submit" class="btn btn-primary">Enviar</button>
                </center>
            </form>
        </div>
      </div>
    </section>

      {% if mensaje_o.0 %}
          <h5>{{mensaje_o.1}}</h5>        
      {% endif %}

      {% if mensaje.0 %}
          <input id="valorCreation" style="display: none" value="{{mensaje.0}}">

          <div class="modal fade" id="modalCreation">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <center>
                   {% for error in mensaje.1  %}                      
                      <h6>{{error}}</h6>                      
                    {% endfor %}
                  </center>
                </div>
              </div>
            </div>
          </div>        
      {% endif %}


{% endblock contenido_admin %}