{% extends "Bases/BaseAdmin.html" %}
{% load staticfiles %}

{% block contenido_admin %}
      <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">!</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/aceptar_cuentas?dni={{usuario.dni}}">Cuentas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/create_activity?dni={{usuario.dni}}">Actividades <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard_admin?dni={{usuario.dni}}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/edit_info_adm/?dni={{usuario.dni}}">Cuenta <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Cerrar Sesión <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

        <section class="container">
        <div class="row box">
          <div class="col-md-12 ">
            <div class="row">
            {% if not usuario.profile_picture  %}
              <div class="col-sm-5 col-md-5 col-lg-3 ">
                <img class="circular" src="">
              </div>
            {% else %}
             <div class="col-sm-5 col-md-5 col-lg-3 ">
                <img class="circular" src="{{usuario.profile_picture.url}}">
              </div>
            {% endif %} 
             
              <div class="col-sm-7 col-md-7 col-lg-9 ">

                <h1 align="center">Bienvenido Administrador</h5><br>
                <h5>Nombre de usuario: {{usuario.user.first_name}} {{usuario.user.last_name}}</h5>
                <h5>Dni: {{usuario.dni}}</h5>
                <h5>Correo Electrónico: {{usuario.user.email}}</h5>
                <h5>País: {{usuario.country}}</h5>
                {% if usuario.genre == "male" %}
                    <h5>Género: Masculino</h5>
                {% endif %}
                {% if usuario.genre == "female" %}
                    <h5>Género: Femenino</h5>
                {% endif %}
                <h5>Teléfono: {{usuario.cellphone}}</h5>

              </div>
            </div>
            <div class="row box">
              <div class="col">
                <h5>Actividad reciente</h5><hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9" id="reciente">  
               
              </div>
              <div class="col-md-3">  
                <ul style="">
                  <li><a href="">Crear actividad</a></li>
                  <li><a href="/aceptar_cuentas?dni={{usuario.dni}}">Gestión de cuentas</a></li>
                  <li><a href="">Editar información</a></li>
                  <li><a href="/logout">Cerrar sesión</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock contenido_admin %}


