{% extends "Bases/BaseAdmin.html" %}
{% load staticfiles %}

{% block contenido_admin %}

      <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">!</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/aceptar_cuentas?dni={{usuario.dni}}">Cuentas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/list_activity?dni={{usuario.dni}}">Actividades <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/dashboard_admin?dni={{usuario.dni}}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/edit_info_adm/?dni={{usuario.dni}}">Cuenta <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Cerrar Sesión <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <section class="container" style="padding-top: 70px;">
        <div class="row">
          <div class="col-lg-12">
            <center><h3>Editar Actividad</h3></center><hr><br>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 align-self-center">
              <form method="POST" enctype="multipart/form-data" >{% csrf_token %}

                  <h5>Categoria : {{actividad.category.name}}</h5>

                  <div class="form-group">
                    <label for="imageActivity">Imagen</label>
                    <input value ="{{actividad.image_activity.url}}" type="file" class="form-control" id="imageActivity" name="image_activity">
                    <small class="form-text text-muted">Seleccione una imagen para la actividad</small>
                  </div>

                  <div class="form-group">
                    <label for="nameActivity">Nombre</label>
                    <input type="text" name="name" value="{{actividad.name}}" class="form-control" id="nameActivity" aria-describedby="emailHelp" placeholder="Nombre de la actividad" required="True">
                    <small class="form-text text-muted">Ingrese un nombre para la actividad</small>
                  </div>


                  <div class="form-group">
                    <label for="exampleTextarea">Descripción</label>
                    <textarea value="{{actividad.description}}"  class="form-control" id="exampleTextarea" rows="3" placeholder="Descripcion de la actividad" required="True" name="description" type="text">{{actividad.description}}</textarea>
                  </div>

                  <center><button type="submit" class="btn btn-primary">Guardar</button></center>
              </form>
          </div>
        </div>
      </section>
{% endblock contenido_admin %}
