{% extends "Bases/BaseRoot.html" %}
{% load staticfiles %}

{% block contenido_root %}
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">!</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/aceptar_cuentas_admin?username={{usuario.username}}">Activar Cuentas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/lista_categorias?username={{usuario.username}}">Categorias<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard_root?username={{usuario.username}}">Perfil</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/gestion_cuentas_admin?username={{usuario.username}}">Gestion de Cuentas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/logout">Cerrar Sesión <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


<section class="container">
  <div class="row box">
    <div class="col-md-12 ">
      <div class="row"> 
        <div class="col-sm-5 col-md-5 col-lg-3 ">
          <img class="circular" src={% static "varios/logo2.png" %}>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-9 ">

          <h1 align="center">Bienvenido Super Administrador</h1><br>
          <h5>Nombre de usuario: {{usuario.username}}</h5>
          <h5>Correo Electrónico: {{usuario.email}}</h5>

        </div>
      </div>
      <div class="row box">
        <div class="col-lg-12"><center>  
          <ul style="">
            <li><a href="/crear_categorias?username={{usuario.username}}">Crear categorías</a></li>
            <li class="nav-item ">
            <a class="nav-link" href="/gestion_cuentas_admin?username={{usuario.username}}">Gestion de Cuentas<span class="sr-only">(current)</span></a>
           </li>
            <li><a href="/aceptar_cuentas_admin?username={{usuario.username}}">Activar cuentas</a></li><br>
            <li><a href="/logout">Cerrar sesión</a></li>
          </ul></center>
        </div>
      </div>
    </div>
  </div>
</section>
  {% endblock contenido_root %}
