{% extends "Bases/BaseCategorias.html" %}
{% load staticfiles %}

{% block category_root %}

  <script language="JavaScript">
  function confirmacion(username , id , name){
      if (confirm('¿Estas seguro que deseas eliminar la categoria ' +name+ ' ?')){
         document.location.href = '/delete_categorias?username='+username+'&id_categoria='+id
      }
  }
  </script> 


  <section class="container" style="padding-top: 70px; padding-bottom: 20px;">
    <div class="row">
      <div class="col-lg-12">
        <center><h3>Eliminar Categorías</h3></center><hr><br>
        <div id="elminar">
          <ul class="list-group">
            
            {% for categoria in categorias  %}
            <form name="tipof" method="POST" action="/"> {% csrf_token %}
              <li class="list-group-item">
              <section class="container">
                <div class="row">                
                  <div class="col-lg-10 align-self-center">
                    <h6>{{categoria.name}}</h6>
                    <p>{{categoria.description}}</p>
                  </div>
                  <div class="col-lg-2 align-self-center">
                    <button type="button" onclick='confirmacion("{{usuario.username}}" ,"{{categoria.id}}", "{{categoria.name}}")' name="tipo" class="btn btn-danger">Eliminar</button>
                  </div>                  
                </div>
              </section>
              </li>
              {% endfor %}
            </form>            
          </ul>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 30px;">
      <div class="col-lg-12">
        <center><button class="btn btn-primary" onclick="location.href='/lista_categorias?username={{usuario.username}}';">Volver</button></center>
      </div>
    </div>
  </section>

      {% if mensaje.0 %}
          <input id="valorCategory" style="display: none" value="{{mensaje.0}}">

          <div class="modal fade" id="modalCategory">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <center>

                        <h6>{{mensaje.1}}</h6>

                  </center>
                </div>
              </div>
            </div>
          </div>        
      {% endif %}

{% endblock category_root %}